{% extends "base.html" %}

{% block title %}User Register{% endblock %}

{% block content %}

<div class="row">

  <div class="col-md-offset-3 col-md-6">

    <h3>User Registration</h3>

    {% from "_formhelpers.html" import render_field %}
    <form method="POST" action="{{ url_for('register')}}" role="form">

      {{ form.hidden_tag() }}

      {{ render_field(form.fullname, class='form-control') }}
      {{ render_field(form.email, class='form-control') }}
      {{ render_field(form.username, class='form-control') }}
      {{ render_field(form.password, class='form-control') }}
      {{ render_field(form.confirm, class='form-control') }}

      <button type="submit" class="btn btn-default">Register</button>

    </form>

  </div>

</div>
{% endblock %}
